#carouselExampleIndicators{
   
    background-image: url(img/greyBackground.jpg);

}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; 
  
}

.carousel-caption{
    top: 27%;
transform: translateY(-50%);

}

.lienProjet{
    margin-top: 10%;
}

.carousel-caption h5{
    font-size: 5vw;
}

.carousel-caption p{
    font-size: 2vw;
}

@media screen and (max-width: 500px) {
    .carousel-caption{
        top: 20%;
    transform: translateY(-50%);
    
}}

.imageAlban{
    border-radius: 50%;
    width: 90%;

}

@media screen and (max-width: 500px) {
    .centrerimage{
        margin-left: 20px;
    
}}


