.jumbotron{
    background-image: url(img/universe.jpg);
    background-size: cover ;
}

.navbar{
    margin-left: 33%;
}

footer{
    height: 150px;
}

i{
    margin-top: 35px;
}

section{
    height: 500px;
}

header{
    background-color: black;
    background-image: url(img/universe.jpg);
    
}

